<section class="container px-0">
    <div class="header text-uppercase text-white fs-6 px-1">
     <span class="small px-3 py-3 text-uppercase mx-auto">registering your Moj group claim interest</span> 
    </div>
    <div class="form p-2">
      <div class="user d-flex justify-content-between">
        <div class="firstname mt-2">
          <input type="text" class="form-control" placeholder="Your first name">
        </div>
        <div class="lastname mt-2">
          <input type="text" class="form-control" placeholder="Your last name">
        </div>
      </div>
      <div class="email mt-2">
        <input type="email" class="form-control" placeholder="Your email address">
      </div>
    </div>
    <div class="register mt-0">
      <button class="text-uppercase mt-0 border-0 w-100 fs-6 fw-bold text-white">register your claim interest now!</button>
    </div>
  </section>