<div class="container bg-white">
    <div class="row header">
        <div class="col-4 pe-0 header-col ms-5">
            <p class="d-inline ps-1 pe-0"><a  href="" class=" PM">My PM Claim.com</a></p>
 
        </div>
        <div class="col-8  ms-2">
            <p class="my-0 py-0 reg ">Register your interest in a group claim against the Prime Minister and Justice Secretary 

            </p>
            <p class="mt-0 mb-1 py-0  sub-header-details fw-semi-bold">Exposing and challenging Wrongdoers to protect people from government and HMCTS harm, wrong doing and injustice. 

            </p>
        </div>

    </div>
    <div class="row nav">
        <ul class=" text-white mb-0 d-flex">
            <li class="px-2 py-2 fw-semibold" ><a href="" class="text-white">Home</a></li>
            <div class="dropdown">

            <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white dropbtn">About</a></li>
                <div class="dropdown-content w-100 py-2 px-2">
                  <a href="#" class="drop-item small my-0 py-0">
                    April 2022 NHS CEO &amp; Hospital claim
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   
                    Prime Minister and 14 others claim
                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Register Your Group Claim Interest
                                                                
                </a>
                
                </div>
              </div>
              <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white">Aspiration</a></li>
              <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white">Wanted </a></li>
              <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white">Legal </a></li>

        </ul>

    </div>
</div>