<div class="container">
    <div class="row header">
        <div class="col-4 pe-0 header-col">
            <p class="d-inline ps-1 pe-0"><a class="text-white" href="">My NHS Claim.com</a></p>
 
        </div>
        <div class="col-8  ms-4">
            <p class="my-0 py-0 reg ">Register Your Interest In Making A Group Claim Against NHS England

            </p>
            <p class="mt-0 mb-1 py-0  sub-header-details fw-semi-bold">Fighting for NHS Patients right to surgery and... right to have complaints dealt with properly and fairly.

            </p>
        </div>

    </div>
    <div class="row bg-black">
        <ul class="bg-black text-white mb-0 d-flex">
            <li class="px-2 py-2 fw-semibold" ><a href="" class="text-white">Home</a></li>
            <div class="dropdown">

            <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white dropbtn">About</a></li>
                <div class="dropdown-content w-100 py-2 px-2">
                  <a href="#" class="drop-item small my-0 py-0">
                    April 2022 NHS CEO &amp; Hospital claim
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   
                    Prime Minister and 14 others claim
                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Register Your Group Claim Interest
                                                                
                </a>
                
                </div>
              </div>
        </ul>

    </div>
</div>