<div class="container bg-white">
    <div class="row header">
        <div class="col-4 pe-0 header-col ms-5">
            <p class="d-inline ps-1 pe-0"><a  href="" class=" PM text-white">The Change Champions</a></p>
 
        </div>
        <div class="col-8  ms-0 px-2">
            <p class="my-0 py-0 reg w-100 mx-0 px-0">The legal service supporting whistleblowing Changemakers

            </p>
            <p class="mt-0 mb-1 py-0 px-0 mx-0 sub-header-details fw-semi-bold">Helping you expose and challenge Wrongdoers, protecting people from government, HMCTS and corporate harm, wrongdoing and injustice. 

            </p>
        </div>

    </div>
    <div class="row nav">
        <ul class=" text-white mb-0 mx-4 ps-3 d-flex">
            <li class="px-2 py-2 ps-2 fw-semibold home" ><a href="" class="text-white">Home</a></li>
            <div class="dropdown">

            <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white dropbtn">About</a></li>
                <div class="dropdown-content w-100 py-2 px-2">
                  <a href="#" class="drop-item small my-0 py-0">
                    The Change Champions
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                    Change Champions Litigation Team
                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    2023 Rishi Sunak PM and 20 Others Complaints
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    2023 Rishi Sunak PM and 3 Others claim
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    2023 C. S. Venkatakrishnan Barclays PLC CEO claim
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    2023 Michael Lewis EON UK PLC claim
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Government Scams & Practices
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    HMCTS Scams & Practices
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    NHS Scams & Practices
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Buy The Secret Whistleblower Book
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Buy The EON Energy Bill Payment Reduction Legal Rights Guide
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Buy The Barclays No Bank Payment Legal Rights Guide
                                                                
                </a>
                </div>
              </div>
             
              <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white"  routerLink="aspiration">Aspiration </a></li>
              <div class="dropdown">
                <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white">Wanted</a></li>
                  <div class="dropdown-content w-100 py-2 px-2">
                  <a href="#" class="drop-item small my-0 py-0">
                    Probono Barristers
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                    Probono Solicitors
                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Volenteer Leaflet Distributors
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Volenteer Social Media Advocates
                                                                
                </a>
                <a href="#" class="drop-item small my-0 py-0">
                   

                    Volenteer PR Advocates
                                                                
                </a>
              
             
                </div>

              </div>
              <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white">Complaints </a></li>
<div class="dropdown">
        <li class="px-2  py-2 fw-semibold text-white"><a href="" class="text-white">Legal </a></li>
        <div class="dropdown-content w-100 py-2 px-2">
            <a href="#" class="drop-item small my-0 py-0">
                Change Makers Litigation Team
            </a>
          <a href="#" class="drop-item small my-0 py-0">
            Group Claims
                          
          </a>
          <a href="#" class="drop-item small my-0 py-0">
             

            Registers interest in HMCTS group claim
                                                          
          </a>
          <a href="#" class="drop-item small my-0 py-0">
             

            Register interest in NHS group claim
                                                          
          </a>
    
        
       
          </div>
</div>
              

        </ul>

    </div>
</div>