img{
    width: 105% !important;
    height: 615px !important;
}
.form{
  
    width: 50%;
}
.email{
    width: 22%;
    left: 38.5%;
    top: 61%;
}
.learn{
    background-color:rgba(10,73,126,255) ;
     border: transparent solid;
}