<div class="container px-0 home pb-3 bg-white">
    <p>Content will be here</p>

    <div class="bg-white d-flex justify-content-end align-items-end h-100" >
        
    
    <div class="email">
            <app-home-form></app-home-form>
        </div>  
        <div class="aside mx-3 d-flex flex-column  mt-3">
            <p class="text-uppercase bg-dark text-white pe-5">2022 prime minister and 16 others claim</p>
            <app-side-menu class=" mx-2"></app-side-menu>
            <a class="mt-2 text-decoration-none text-center pointer"  (click)="openVerticallyCentered()">Read More</a>
        </div>      
    </div>
</div>