.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 289px;
    max-width: 320px;
    border-bottom-color: transparent !important;


   
  }
  
  .example-menu-item {
    background-color: transparent;
    cursor: pointer;
    border: none;
    user-select: none;
    /* min-width: 64px; */
    /* line-height: 36px; */
    padding: 0 16px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
    font-size: 14px;
  }
  .small{
    font-size: 14px;
    line-height: 1;
  }

  /* .example-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
   */
  /* .example-menu-item:active {
    background-color: rgb(170, 170, 170);
  } */
  .small{
    font-size: 13px;
  }
  button{
    background-color: rgb(66, 133, 244)
  }
  .xsmall{
    font-size: 12px;
    line-height: 1.1;
  }