<div class="example-menu text-center" cdkMenu>
    <a class="example-menu-item pt-1 pb-1 w-100 text-center" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>
    <a class="example-menu-item pt-1 pb-1" cdkMenuItem>Web Page Link</a>



  </div>